/*Base*/

@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body{
	background-color: #000000;
	height: 350px;
	width: 300px;
}

p{
	color: white;
	font-family: 'Rock Salt', cursive;
}

.title{
	text-align: center;
}

#remove
{
   width: 100%;
   height:60px;
}


/* Utility class */

/*other*/
